version: '2.4'

services:
  postgres:
    image: postgres:latest
    container_name: example-database
    command: postgres -c 'max_connections=200'
    environment:
      - POSTGRES_USER=$${DB_USER}
      - POSTGRES_DB=$${DB_DATABASE}
      - POSTGRES_PASSWORD=$${DB_PASSWORD}
    ports:
      - '5432:5432'
