version: '2.4'

services:
  nginx:
    image: nginx
    container_name: example_nginx
    ports:
      - '80:80'
    environment:
      - NGINX_PORT=80
    command: /bin/bash -c "envsubst < /etc/nginx/conf.d/nginx.template > /etc/nginx/conf.d/default.conf && exec nginx -g 'daemon off;'"
